# AI Academy Capstone: Using NLP to differentiate bot-generated reviews from human-generated reviews

## Import necessary libraries

In [6]:
import pandas as pd
import nltk
import sklearn
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from xgboost import XGBClassifier
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize
from nltk.sentiment import SentimentIntensityAnalyzer

## Importing csv file with amazon reviews

In [20]:
#dataset contains about 40,000 reviews; 20,000 fake and 20,000 real
df = pd.read_csv('amazon_reviews.csv')

print(df.shape)
df.head()

(40432, 4)

,category,rating,label,text_
0,Home_and_Kitchen_5,5,CG,"Love this! Well made, sturdy, and very comfor..."
1,Home_and_Kitchen_5,5,CG,"love it, a great upgrade from the original. I..."
2,Home_and_Kitchen_5,5,CG,This pillow saved my back. I love the look and...
3,Home_and_Kitchen_5,1,CG,"Missing information on how to use it, but it i..."
4,Home_and_Kitchen_5,5,CG,Very nice set. Good quality. We have had the s...

In [24]:
df.describe()

             rating
count  40432.000000
mean       4.256579
std        1.144354
min        1.000000
25%        4.000000
50%        5.000000
75%        5.000000
max        5.000000

The data will need cleaning to fix: casing, punctuation, stop word removal, and removal of low quality or duplicate data (if any)

## Data Cleaning

In [19]:
df.drop_duplicates(subset='text_', inplace=True)
df = df[df['text_'].notna()]
df.shape

(40412, 4)

Removed 20 records that were not useful which is a good start.

In [22]:
#Normalize text by making all words lowercase
df['text_'] = df['text_'].str.lower()

#removing all punctuation
df['text_'] = df['text_'].str.replace('[^\w\s]','')

In [23]:
df.head()

,category,rating,label,text_
0,Home_and_Kitchen_5,5,CG,love this well made sturdy and very comfortab...
1,Home_and_Kitchen_5,5,CG,love it a great upgrade from the original ive...
2,Home_and_Kitchen_5,5,CG,this pillow saved my back i love the look and ...
3,Home_and_Kitchen_5,1,CG,missing information on how to use it but it is...
4,Home_and_Kitchen_5,5,CG,very nice set good quality we have had the set...